# Exercícios

Python é uma linguagem de programação dinamicamente tipada. Isso significa que você não precisa declarar explicitamente o tipo de uma variável antes de usá-la. O tipo de uma variável é inferido durante a execução do programa.

In [6]:
# variavel que guarda uma string
nome = "Ana"
print(nome)

Ana

In [7]:
# variavel que guarda um valor inteiro
idade = 25
# variavel que guarda um valor do tipo floata
altura = 1.75

#mostrando os valores
print("Idade:", idade, "anos")
print("Altura:", altura, "metros")

Idade: 25 anos
Altura: 1.75 metros

In [11]:
#lista
lista_de_numeros = [1,2,3,4,5]
print(lista_de_numeros)

[1, 2, 3, 4, 5]

In [14]:
#valor booleano
condicao = True
print(condicao)

True

In [15]:
#tupla
minha_tupla = (1, 2, 3)
print(minha_tupla)

(1, 2, 3)

In [16]:
#dicionario 
meu_dicionario = {"nome": "João", "idade": 25, "cidade": "Belém"}
print(meu_dicionario)

{'nome': 'João', 'idade': 25, 'cidade': 'Belém'}

In [17]:
#set
meu_conjunto = {1, 2, 3, 4, 5}
print(meu_conjunto)

{1, 2, 3, 4, 5}

Outros exemplos

In [4]:
num_1 = 10
num_2 = 3.5
soma = num_1 + num_2
print("A soma é:", soma)

A soma é: 13.5

In [9]:
texto = "Esse ano está muito quente."
print(texto)

Esse ano está muito quente.

In [18]:
frutas = {
    "banana": {"cor": "amarela", "sabor": "doce"},
    "maça": {"cor": "vermelha", "sabor": "azedo"},
    "uva": {"cor": "roxa", "sabor": "adocicado"}
}

In [20]:
#acessando informações do dicionario
print("A banana é", frutas["banana"]["cor"], "e tem sabor", frutas["banana"]["sabor"])

A banana é amarela e tem sabor doce

É possivel verificar o tipo da variavel com o seguite comando type

In [21]:
numero1 = 42
print(type(numero))

<class 'int'>

In [23]:
numero2 = 3.14
print(type(numero2))

<class 'float'>

In [24]:
texto1 = "Olá, Python!"
print(type(texto))

<class 'str'>

In [25]:
boo1 = True
print(type(boo1))

<class 'bool'>

In [26]:
lista_numeros = [1, 2, 3, 4, 5]
print(type(lista_numeros))

<class 'list'>

In [28]:
#print referente ao dicionario frutas criado acima na linha 20
print(type(frutas))

<class 'dict'>

## Mutabilidade e Imutabilidade:

Alguns tipos de dados em Python são mutáveis (podem ser alterados após a criação), enquanto outros são imutáveis (não podem ser alterados). Listas são mutáveis, enquanto tuplas são imutáveis.

In [30]:
lista_mutavel = [1, 2, 3]
tupla_imutavel = (4, 5, 6)

print(lista_mutavel)
print(tupla_imutavel)

[1, 2, 3]
(4, 5, 6)

## Casting (Conversão de Tipos):

Às vezes, é necessário converter um tipo de dado em outro. Python fornece funções como int(), float(), e str() para realizar essas conversões.

In [34]:
numero_texto = "123"
print(type(numero_texto))
numero = int(numero_texto)
print(type(numero))

<class 'str'>
<class 'int'>

## Operações com Tipos de Dados:

Entender como operações são realizadas em diferentes tipos de dados é crucial. Por exemplo, operações matemáticas em números, concatenação de strings, e operações em listas.

In [37]:
a = 5
b = 2
resultado = a + b  # Soma de números inteiros
print(resultado)

texto_1 = "Olá"
texto_2 = "tudo certo?"
concatenado = texto_1 + " " + texto_2  # Concatenação de strings
print(concatenado)

7
Olá tudo certo?

## Métodos de String e Listas:

Strings e listas em Python têm métodos integrados que podem ser úteis. Por exemplo, métodos de string para manipulação de texto e métodos de lista para adicionar, remover elementos.

In [40]:
frase = "Jaca é muito ruim"
print(frase.upper())  # Converte a string para maiúsculas
print(frase.lower()) # Converte a string para minúsculo

minha_lista = [1, 2, 3]
minha_lista.append(4)  # Adiciona o elemento 4 à lista
print(minha_lista)

JACA É MUITO RUIM
jaca é muito ruim
[1, 2, 3, 4]